**TOPIC: STRING BASED ASSIGNMENT PROBLEM**

Q1. Write a program to reverse a string.

In [3]:
org_str = input("Please enter a string you wish to be reversed: ")

rev_str = org_str[::-1]
print(f"Reverse of the input string: {rev_str}")

Please enter a string you wish to be reversed:  FSDS Pro Course

Reverse of the input string: esruoC orP SDSF

Q2. Check if a string is a palindrome.

In [6]:
input_str = input("Please enter a string to check for palindrome: ")

if input_str.lower() == input_str.lower()[::-1]:
    print("Input string is a Palindrome.")
else:
    print("Input string is not a Palindrome.")

Please enter a string to check for palindrome:  Naman

Input string is a Palindrome.

Q3. Convert a string to uppercase.

In [7]:
input_str = input("Please enter a string to convert to uppercase: ")

print(f"Uppercase of Input string: {input_str.upper()}")

Please enter a string to convert to uppercase:  data science

Uppercase of Input string: DATA SCIENCE

Q4. Convert a string to lowercase.

In [8]:
input_str = input("Please enter a string to convert to lowercase: ")

print(f"Lowercase of Input string: {input_str.lower()}")

Please enter a string to convert to lowercase:  DATA SCIEnce

Lowercase of Input string: data science

Q5. Count the number of vowels in a string.

In [13]:
input_str = input("Please enter a string to count for vowels: ")

count = 0
for char in input_str.lower():
    if char in 'aeiou':
        count += 1

print(f"Number of vowels in string: {count}")

Please enter a string to count for vowels:  Machine Learning

Number of vowels in string: 6

Q6. Count the number of consonants in a string.

In [14]:
input_str = input("Please enter a string to count for consonants: ")

count = 0
for char in input_str.lower():
    if char in 'bcdfghjklmnpqrstvwxyz':
        count += 1

print(f"Number of consonants in string: {count}")

Please enter a string to count for consonants:  Machine Learning

Number of consonants in string: 9

Q7. Remove all whitespaces from a string.

In [17]:
input_str = input("Please enter a string to remove whitespaces: ")

res_str = input_str.replace(' ', '')
print(f"Result string after removing whitespaces: {res_str}")

Please enter a string to remove whitespaces:       Satur    day

Result string after removing whitespaces: Saturday

Q8. Find the length of a string without using the `len()` function.

In [18]:
input_str = input("Please enter a string to calculate length: ")

count = 0
for i in input_str:
    count += 1

print(f"Length of Input string: {count}")

Please enter a string to calculate length:  Python Basics

Length of Input string: 13

Q9. Check if a string contains a specific word.

In [23]:
org_str = input("Enter the string: ")
sub_str = input("Enter the sub-string: ")

if sub_str.lower() in org_str.lower():
    print(f"\n'{sub_str}' is present in '{org_str}'")
else:
    print(f"\n'{sub_str}' is not present in '{org_str}'")

Enter the string:  We are learning python basics
Enter the sub-string:  Python

'Python' is present in 'We are learning python basics'

Q10. Replace a word in a string with another word.

In [28]:
org_str = input("Enter the string: ")
org_wrd = input("Enter the word to be replaced [case-sensitive]: ")
rpl_wrd = input("Enter the word to be replaced with: ")

if org_wrd in org_str:
    print(f"\nResulting string: {org_str.replace(org_wrd, rpl_wrd)}")
else:
    print(f"\nTarget word '{org_wrd}' not present in '{org_str}'")

Enter the string:  We are learning Python basics.
Enter the word to be replaced [case-sensitive]:  Python
Enter the word to be replaced with:  SQL

Resulting string: We are learning SQL basics.

Q11. Count the occurrences of a word in a string.

In [34]:
org_str = input("Enter the string: ")
cnt_wrd = input("Enter the word to be counted [case-sensitive]: ")

count = 0
for word in org_str.split(" "):
    if word == cnt_wrd:
        count += 1
        
print(f"\n'{cnt_wrd}' occured {count} times in '{org_str}'")

Enter the string:  in the waters, in the fire, in the cold, in the space.
Enter the word to be counted [case-sensitive]:  in

'in' occured 4 times in 'in the waters, in the fire, in the cold, in the space.'

Q12. Find the first occurrence of a word in a string.

In [43]:
orginl_str = input("Enter the string: ")
f_ocur_wrd = input("Enter the word: ")

print(f"\nFirst occurence of '{f_ocur_wrd}' happens at index-{orginl_str.lower().find(f_ocur_wrd.lower())}")

Enter the string:  in the waters, in the ocean.
Enter the word:  in

First occurence of 'in' happens at index-0

Q13. Find the last occurrence of a word in a string.

In [44]:
orginl_str = input("Enter the string: ")
l_ocur_wrd = input("Enter the word to be counted: ")

print(f"\nLast occurence of '{l_ocur_wrd}' happens at index-{orginl_str.lower().rfind(l_ocur_wrd.lower())}")

Enter the string:  in the waters, in the ocean.
Enter the word to be counted:  in

Last occurence of 'in' happens at index-15

Q14. Split a string into a list of words.

In [46]:
orig_str = input("Enter the string: ")

print(f"\nList of words after splitting: {orig_str.split()}")

Enter the string:  This is my second assignment

List of words after splitting: ['This', 'is', 'my', 'second', 'assignment']

Q15. Join a list of words into a string.

In [50]:
usrinput = input("Enter the first word to be added to the sentence: ")
list_of_words = []

while usrinput.lower() != 'n':
    list_of_words.append(usrinput)
    usrinput = input("Enter the next word to be added to the sentence (Press 'n' to stop): ")
    
print(f"\nFinal string after joining words: {' '.join(list_of_words)}")

Enter the first word to be added to the sentence:  India
Enter the next word to be added to the sentence (Press 'n' to stop):  beat
Enter the next word to be added to the sentence (Press 'n' to stop):  Pakistan
Enter the next word to be added to the sentence (Press 'n' to stop):  with
Enter the next word to be added to the sentence (Press 'n' to stop):  20
Enter the next word to be added to the sentence (Press 'n' to stop):  overs
Enter the next word to be added to the sentence (Press 'n' to stop):  remaining
Enter the next word to be added to the sentence (Press 'n' to stop):  n

Final string after joining words: India beat Pakistan with 20 overs remaining

Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [51]:
org_str = input("Enter the string for replacing ' ' with '_': ")

print(f"\nResulting string would be {org_str.replace(' ', '_')}")

Enter the string for replacing ' ' with '_':  FSDS Pro Course is a 12-months long education plan.

Resulting string would be FSDS_Pro_Course_is_a_12-months_long_education_plan.

Q17. Check if a string starts with a specific word or phrase.

In [55]:
org_str = input("Enter a string: ")
org_wrd = input("Enter a word/phrase for checking: ")

if org_str.lower().startswith(org_wrd.lower()):
    print(f"\n'{org_str}' starts with '{org_wrd}'.")
else:
    print(f"\n'{org_str}' does not start with '{org_wrd}'.")

Enter a string:  We are going for camping this week.
Enter a word/phrase for checking:  We are

'We are going for camping this week.' starts with 'We are'.

Q18. Check if a string ends with a specific word or phrase.

In [58]:
org_str = input("Enter a string: ")
org_wrd = input("Enter a word/phrase for checking: ")

if org_str.lower().endswith(org_wrd.lower()):
    print(f"\n'{org_str}' ends with '{org_wrd}'.")
else:
    print(f"\n'{org_str}' does not end with '{org_wrd}'.")

Enter a string:  We are going for camping this week
Enter a word/phrase for checking:  this week

'We are going for camping this week' ends with 'this week'.

Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [60]:
string = input("Enter the string: ")

print(f"\nThe Title case version of string will be: {string.title()}")

Enter the string:  hello world

The Title case version of string will be: Hello World

Q20. Find the longest word in a string.

In [68]:
from functools import reduce

In [69]:
string = input("Enter the string: ")

print(f"\nLongest word in string: {reduce(lambda a, b: a if len(a)>=len(b) else b, string.split())}")

Enter the string:  I want to become a data science expert.

Longest word in string: science

Q21. Find the shortest word in a string.

In [72]:
string = input("Enter the string: ")

print(f"\nShortest word in string: {reduce(lambda a, b: a if len(a)<=len(b) else b, string.split())}")

Enter the string:  I want to become a data science expert.

Shortest word in string: I

Q22. Reverse the order of words in a string.

In [74]:
string = input("Enter the string: ")

print(f"\nReversed order of string: {' '.join(string.split()[::-1])}")

Enter the string:  We will be going for camping again next week

Reversed order of string: week next again camping for going be will We

Q23. Check if a string is alphanumeric.

In [81]:
string = input("Enter the string: ")

if string.isalnum():
    print("\nInput string is alpha-numeric.")
else:
    print("\nInput string is not alpha-numeric.")

Enter the string:  Python3

Input string is alpha-numeric.

Q24. Extract all digits from a string.

In [84]:
string = input("Enter the string: ")
digits = []

for char in string:
    if char.isnumeric():
         digits.append(int(char))

print(f"Digits in string: {digits}")

Enter the string:  I am going shopping at 5. But John said to meet at 4.

Digits in string: [5, 4]

Q25. Extract all alphabets from a string.

In [85]:
string = input("Enter the string: ")
alphabets = []

for char in string:
    if char.isalpha():
         alphabets.append(char)

print(f"Alphabets in string: {alphabets}")

Enter the string:  I am going shopping at 5.

Alphabets in string: ['I', 'a', 'm', 'g', 'o', 'i', 'n', 'g', 's', 'h', 'o', 'p', 'p', 'i', 'n', 'g', 'a', 't']

Q26. Count the number of uppercase letters in a string.

In [86]:
string = input("Enter the string: ")
count = 0

for char in string:
    if char.isupper():
         count += 1

print(f"Number of uppercase alphabets in string: {count}")

Enter the string:  Sudhanshu sir teaches us Python basics and SQL.

Number of uppercase alphabets in string: 5

Q27. Count the number of lowercase letters in a string.

In [87]:
string = input("Enter the string: ")
count = 0

for char in string:
    if char.islower():
         count += 1

print(f"Number of lowercase alphabets in string: {count}")

Enter the string:  Sudhanshu sir teaches us Python basics and SQL.

Number of lowercase alphabets in string: 34

Q28. Swap the case of each character in a string.

In [4]:
string = input("Enter the string: ")
res_str = ""

for char in string:
    if char.islower():
        res_str+=char.upper()
    elif char.isupper():
        res_str+=char.lower()
    else:
        res_str+=char
    
print(f"Final string after swapping cases: {res_str}")

Enter the string:  Sudhanshu sir teaches us Python basics and SQL.

Final string after swapping cases: sUDHANSHU SIR TEACHES US pYTHON BASICS AND sql.

Q29. Remove a specific word from a string.

In [6]:
string = input("Enter the string: ")
rem_wrd = input("Enter the word to be removed [case-sensitive]: ")

if rem_wrd in string:
    print(f"\nFinal string after removing target word: {string.replace(rem_wrd, '')}")
else:
    print(f"\nTarget word '{rem_wrd}' not present in string.")

Enter the string:  My name is Paras Jain
Enter the word to be removed [case-sensitive]:  Jain

Final string after removing target word: My name is Paras

Q30. Check if a string is a valid email address.

In [4]:
mail_id = input("Enter your mail address: ")
lst_domns = ['gmail', 'outlook', 'yahoo', 'protonmail', 'eclerx', 'apple']
lst_tldmn = ['com', 'gov', 'org', 'net', 'biz', 'info']

if "@" in mail_id and "." in mail_id and not any(char in mail_id for char in [' ','~','`','!','#','$','%','^','&','*','(',')','|','\\','{','}','[',']',':',';','"',"'", '?','/','>','<','*','-','+']):
    domain = mail_id[mail_id.find('@')+1: mail_id.rfind('.')]
    tldomn = mail_id[mail_id.rfind('.')+1:]
    if domain.lower() in lst_domns and tldomn.lower() in lst_tldmn:
        valid = True
    else:
        valid = False
else:
    valid = False
    
if valid:
    print("Email Id is valid.")
else:
    print("Email Id is invalid.")

Enter your mail address:  paras.jain@eclerx.com

Email Id is valid.

Q31. Extract the username from an email address string.

In [5]:
mail_id = input("Enter your mail address: ")

print(f"\nYour username is: {mail_id[:mail_id.find('@')]}")

Enter your mail address:  parasjain043@gmailcom

Your username is: parasjain043

Q32. Extract the domain name from an email address string.

In [7]:
mail_id = input("Enter your mail address: ")

print(f"\nYour domain-name is: {mail_id[mail_id.find('@')+1: mail_id.rfind('.')]}")

Enter your mail address:  parasjain043@gmail.com

Your domain-name is: gmail

Q33. Replace multiple spaces in a string with a single space.

In [10]:
string = input("Enter a string: ")

print(f"\nPost replacing multiple spaces with single space, resulting string: {' '.join(string.split())}")

Enter a string:          My       name is      Paras       Jain

Post replacing multiple spaces with single space, resulting string: My name is Paras Jain

Q34. Check if a string is a valid URL.

In [11]:
url = input("Enter a URL: ")

if any(i in url for i in ('https', 'http')) and all(i in url for i in (':', '//')):
    print("URL is valid.")
else:
    print("URL is invalid.")

Enter a URL:  https://red-waiter-gqqqi.pwskills.app/lab/tree/work/20th-Aug-23%20-%20Python%20Basics.ipynb

URL is valid.

Q35. Extract the protocol (http or https) from a URL string.

In [13]:
url = input("Enter a URL: ")

print(f"Protocol for the given url is: {url[:url.find('://')]}")

Enter a URL:  https://red-waiter-gqqqi.pwskills.app/lab/tree/work/20th-Aug-23%20-%20Python%20Basics.ipynb

Protocol for the given url is: https

Q36. Find the frequency of each character in a string.

In [16]:
from pprint import pprint

In [17]:
string = input("Enter a string: ")
frequency = {}

for char in string:
    if char not in frequency:
        frequency[char] = 1
    else:
        frequency[char] += 1
        
pprint(frequency)

Enter a string:  Sudhanshu sir teaches us Python basics and SQL.

{' ': 7,
 '.': 1,
 'L': 1,
 'P': 1,
 'Q': 1,
 'S': 2,
 'a': 4,
 'b': 1,
 'c': 2,
 'd': 2,
 'e': 2,
 'h': 4,
 'i': 2,
 'n': 3,
 'o': 1,
 'r': 1,
 's': 6,
 't': 2,
 'u': 3,
 'y': 1}

Q37. Remove all punctuation from a string.

In [6]:
string = input("Enter a string: ")
pnct_chars = ['.','?','!',',',':',';','-','—','{','}','[',']','(',')',"'",'”','“','…']
res_str = ""

for char in string:
    if char not in pnct_chars:
        res_str += char
        
print(f"Resulting string: {res_str}")

Enter a string:  When Martin Luther King said “I have a dream…” he was talking about civil rights and an end to racism.

Resulting string: When Martin Luther King said I have a dream he was talking about civil rights and an end to racism

Q38. Check if a string contains only digits.

In [7]:
string = input("Enter a string: ")
flag = True

for char in string:
    if not char.isnumeric():
        flag = False
        break

if flag:
    print("Provided string contains only digits.")
else:
    print("Provided string contains characters other than digits.")

Enter a string:  9711126273

Provided string contains only digits.

Q39. Check if a string contains only alphabets.

In [9]:
string = input("Enter a string: ")
flag = True

for char in string:
    if not char.isalpha():
        flag = False
        break

if flag:
    print("Provided string contains only alphabets.")
else:
    print("Provided string contains characters other than alphabets.")

Enter a string:  Python3

Provided string contains characters other than alphabets.

Q40. Convert a string to a list of characters.

In [14]:
string = input("Enter a string: ")

print(f"\nList of characters: \n{list(string)}")

Enter a string:  Python Basics

List of characters:
['P', 'y', 't', 'h', 'o', 'n', ' ', 'B', 'a', 's', 'i', 'c', 's']

Q41. Check if two strings are anagrams.

In [19]:
str1 = input("Please provide string 1: ")
str2 = input("Please provide string 2: ")
freq1 = {}
freq2 = {}

for char in str1.lower():
    if char not in freq1:
        freq1[char] = 1
    else:
        freq1[char] += 1
        
for char in str2.lower():
    if char not in freq2:
        freq2[char] = 1
    else:
        freq2[char] += 1
        
if freq1 == freq2:
    print("\nBoth strings are anagrams.")
else:
    print("\nBoth strings are not anagrams.")

Please provide string 1:  Listen
Please provide string 2:  Silent

Both strings are anagrams.

Q42. Encode a string using a Caesar cipher.

In [3]:
string = input("Please provide a string: ")
key = int(input("Please provide the key to encode string using `caesar cipher` [integer]: "))
res_str = ""

for char in string:
    res_str += chr(ord(char)+key)
    
print(f"\nEncoded string using provided key: {res_str}")

Please provide a string:  Data Science
Please provide the key to emcode string using `caesar cipher` [integer]:  -1

Encoded string using provided key: C`s`Rbhdmbd

Q43. Decode a Caesar cipher encoded string.

In [4]:
string = input("Please provide a string: ")
key = int(input("Please provide the key to decode string [same used to encode] [integer]: "))
res_str = ""

for char in string:
    res_str += chr(ord(char)-key)
    
print(f"\nDecoded string using provided key: {res_str}")

Please provide a string:  C`s`Rbhdmbd
Please provide the key to decode string [same used to encode] [integer]:  -1

Decoded string using provided key: Data Science

Q44. Find the most frequent word in a string.

In [12]:
string = input("Please provide a string [multiple words]: ")
freq = {}

for word in string.lower().split():
    if word not in freq:
        freq[word] = 1
    else:
        freq[word] += 1
        
max_f = 0
max_f_word = None
for word in freq.keys():
    if freq[word] > max_f:
        max_f = freq[word]
        max_f_word = word
        
print(f"\nMost frequent word in string: {max_f_word}")

Please provide a string [multiple words]:  in the waters, under the oceans, In the fire and In the mountains

Most frequent word in string: the

Q45. Find all unique words in a string.

In [14]:
string = input("Please provide a string [multiple words]: ")
freq = {}

for word in string.lower().split():
    if word not in freq:
        freq[word] = 1
    else:
        freq[word] += 1

unique_chr = []
for word in freq.keys():
    if freq[word] == 1:
        unique_chr.append(word)
        
print(f"\nList of unique words: \n{unique_chr}")

Please provide a string [multiple words]:  in the waters, under the oceans, In the fire and In the mountains

List of unique words:
['waters,', 'under', 'oceans,', 'fire', 'and', 'mountains']

Q46. Count the number of syllables in a string.

In [17]:
string = input("Enter a string: ")
vowels = 'aeiouy'
string = string.lower()
count = 0

if string[0] in vowels:
    count += 1

for i in range(1, len(string)):
    if string[i] in vowels and string[i-1] not in vowels:
        count += 1

if string.endswith('e'):
    count -= 1

if count == 0:
    count += 1
    
print(f"\nNumber of syllabes in given word: {count}")

Enter a string:  Data Science

Number of syllabes in given word: 3

Q47. Check if a string contains any special characters.

In [19]:
string = input("Please enter a string: ")
sp_chr = [' ',',','.','&','*','(',')','\\','{','}','[',']',';',"'",'/','-','+','=']
flag = False

for char in string:
    if char in sp_chr:
        flag = True
        break
        
if flag:
    print("\nGiven string contains special character/s.")
else:
    print("\nGiven string does not contain any special character/s.")

Please enter a string:  I grabbed 85% in today's test

Given string contains special character/s.

Q48. Remove the nth word from a string.

In [25]:
string = input("Please provide string [multiple words]: ")
rm_wrd = int(input("Please provide the word position which is to removed [integer] [Eg. 1st word - Provide 1]: "))
wrd_lst = string.split(" ")

if rm_wrd <= 0 or rm_wrd > len(wrd_lst):
    print("\nPlease provide valid word num to be removed.")
else:
    wrd_lst.pop(rm_wrd-1)
    print(f"\nResulting string: {' '.join(wrd_lst)}")

Please provide string [multiple words]:  In the waters, under the oceans, In the fire and In the mountains
Please provide the word num which is to removed [integer] [Eg. 1st word - Provide 1]:  4

Resulting string: In the waters, the oceans, In the fire and In the mountains

Q49. Insert a word at the nth position in a string.

In [27]:
string = input("Please provide string [multiple words]: ")
word = input("Please provide word which is to be inserted: ")
in_wrd = int(input("Please provide the position where word is to be inserted [integer] [Eg. 1st word - Provide 1]: "))
wrd_lst = string.split(" ")

if rm_wrd < 0 or rm_wrd > len(wrd_lst)+1:
    print("\nPlease provide valid word num to be removed.")
else:
    wrd_lst.insert(in_wrd-1, word)
    print(f"\nResulting string: {' '.join(wrd_lst)}")

Please provide string [multiple words]:  My name is Paras
Please provide word which is to be inserted:  Jain
Please provide the position where word is to be inserted [integer] [Eg. 1st word - Provide 1]:  5

Resulting string: My name is Paras Jain

Q50. Convert a CSV string to a list of lists.

In [30]:
string = input("Enter a CSV string: ")
res = []
tmp_list = []
lines = string.split("\\n")

for line in lines:
    res.append(line.split(','))
    
print(f"\nFinal result: {res}")

Enter a CSV string:  hello,world\ngoodbye,america

Final result: [['hello', 'world'], ['goodbye', 'america']]

**List Based Practice Problem :**

Q1. Create a list with integers from 1 to 10.

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2. Find the length of a list without using the `len()` function.

In [3]:
lst = [12, 43, 56, 28, 9]
count = 0

for item in lst:
    count += 1
    
print(f"Length of list: {count}")

Length of list: 5

Q3. Append an element to the end of a list.

In [14]:
lst = [12, 43, 56, 28, 9]
ele = input("Enter an element to append: ")

lst.append(ele)
print(f"\nFinal list: {lst}")

Enter an element to append:  Jain

Final list: [12, 43, 56, 28, 9, 'Jain']

Q4. Insert an element at a specific index in a list.

In [15]:
lst = [12, 43, 56, 28, 9]
ele = input("Enter an element to insert: ")
inx = int(input("Please enter the index to insert element @: "))

lst.insert(inx, ele)
print(f"\nFinal list: {lst}")

Enter an element to insert:  Paras
Please enter the index to insert element @:  2

Final list: [12, 43, 'Paras', 56, 28, 9]

Q5. Remove an element from a list by its value.

In [16]:
lst = [12, 43, 'Paras', 56, 28, 9]
val = input("Enter an element which is to be removed: ")

lst.remove(val)
print(f"\nFinal list: {lst}")

Enter an element which is to be removed:  Paras

Final list: [12, 43, 56, 28, 9]

Q6. Remove an element from a list by its index.

In [17]:
lst = [12, 43, 'Paras', 56, 28, 9]
inx = int(input("Enter index of element which is to be removed: "))

lst.pop(inx)
print(f"\nFinal list: {lst}")

Enter index of element which is to be removed:  1

Final list: [12, 'Paras', 56, 28, 9]

Q7. Check if an element exists in a list.

In [20]:
[12, 43, 'Paras', 56, 28, 9]
ele = input("Enter an element to check it's existence in list: ")

if ele in lst:
    print("Elements exists.")
else:
    print("Element does not exist.")

Enter an element to check it's existence in list:  Paras

Elements exists.

Q8. Find the index of the first occurrence of an element in a list.

In [21]:
lst = [12, 43, 'Paras', 56, 28, 9, 12, 'Jain', 'Jain']
ele = input("Enter an element to search: ")

lst.index(ele)

Enter an element to search:  Jain

7

Q9. Count the occurrences of an element in a list.

In [22]:
lst = [12, 43, 'Paras', 56, 28, 9, 12, 'Jain', 'Jain']
ele = input("Enter an element to search: ")

lst.count(ele)

Enter an element to search:  Jain

2

Q10. Reverse the order of elements in a list.

In [23]:
lst = [12, 43, 'Paras', 56, 28, 9, 12, 'Jain', 'Jain']

print(f"Rev list: {lst[::-1]}")

Rev list: ['Jain', 'Jain', 12, 9, 28, 56, 'Paras', 43, 12]

Q11. Sort a list in ascending order.

In [25]:
lst = [12, 3, 45, 32, 65, 34, 54, 10]

lst.sort()
print(lst)

[3, 10, 12, 32, 34, 45, 54, 65]

Q12. Sort a list in descending order.

In [26]:
lst = [12, 3, 45, 32, 65, 34, 54, 10]

lst.sort(reverse=True)
print(lst)

[65, 54, 45, 34, 32, 12, 10, 3]

Q13. Create a list of even numbers from 1 to 20.

In [27]:
list(range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14. Create a list of odd numbers from 1 to 20.

In [28]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15. Find the sum of all elements in a list.

In [29]:
lst = [12, 3, 45, 32, 65, 34, 54, 10]

print(f"Sum: {sum(lst)}")

Sum: 255

Q16. Find the maximum value in a list.

In [30]:
lst = [12, 3, 45, 32, 65, 34, 54, 10]

print(f"Max number: {max(lst)}")

Max number: 65

Q17. Find the minimum value in a list.

In [31]:
lst = [12, 3, 45, 32, 65, 34, 54, 10]

print(f"Min number: {min(lst)}")

Min number: 3

Q18. Create a list of squares of numbers from 1 to 10.

In [33]:
list(map(lambda a: a*a, list(range(1, 11))))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q19. Create a list of random numbers.

In [1]:
from random import randint

In [2]:
lst = []

for i in range(10):
    lst.append(randint(1, 100))
    
print(f"Random list: {lst}")

Random list: [64, 28, 51, 78, 32, 46, 66, 7, 37, 20]

Q20. Remove duplicates from a list.

In [3]:
lst = [12, 12, 13, 15, 14, 13, 13, 56, 65, 56, 56, 14]

print(f"Final list after rempving dulpicates: {list(set(lst))}")

Final list after rempving dulpicates: [65, 12, 13, 14, 15, 56]

Q21. Find the common elements between two lists.

In [5]:
lst1 = [64, 28, 51, 78, 32, 46, 66, 7, 37, 20]
lst2 = [28, 56, 10, 78, 19, 20, 65, 32, 9, 85]

print(f"Common elements between lists: {list(set(lst1) & set(lst2))}")

Common elements between lists: [32, 20, 28, 78]

Q22. Find the difference between two lists.

In [7]:
lst1 = [64, 28, 51, 78, 32, 46, 66, 7, 37, 20]
lst2 = [28, 56, 10, 78, 19, 20, 65, 32, 9, 85]

print(f"Difference btw 2 lists: {list(set(lst1) - set(lst2))}")

Difference btw 2 lists: [64, 66, 37, 7, 46, 51]

Q23. Merge two lists.

In [9]:
lst1 = [64, 28, 51, 78, 32, 46, 66, 7, 37, 20]
lst2 = [28, 56, 10, 78, 19, 20, 65, 32, 9, 85]

lst1.extend(lst2)
print(f"Merged list: {lst1}")

Merged list: [64, 28, 51, 78, 32, 46, 66, 7, 37, 20, 28, 56, 10, 78, 19, 20, 65, 32, 9, 85]

Q24. Multiply all elements in a list by 2.

In [11]:
lst1 = [64, 28, 51, 78, 32, 46, 66, 7, 37, 20]

print(f"Final list: {list(map(lambda a: a*2, lst1))}")

Final list: [128, 56, 102, 156, 64, 92, 132, 14, 74, 40]

Q25. Filter out all even numbers from a list.

In [14]:
lst1 = [64, 28, 51, 78, 32, 46, 66, 7, 37, 20, 28, 56, 10, 78, 19, 20, 65, 32, 9, 85]

print(f"Final list: {list(filter(lambda a: a%2 != 0, lst1))}")

Final list: [51, 7, 37, 19, 65, 9, 85]

Q26. Convert a list of strings to a list of integers.

In [16]:
lst1 = ['1', '12', '32', '5', '43', '90']

print(f"Final list: {list(map(lambda a: int(a), lst1))}")

Final list: [1, 12, 32, 5, 43, 90]

Q27. Convert a list of integers to a list of strings.

In [17]:
lst1 = [1, 12, 32, 5, 43, 90]

print(f"Final list: {list(map(lambda a: str(a), lst1))}")

Final list: ['1', '12', '32', '5', '43', '90']

Q28. Flatten a nested list.

In [22]:
lst1 = [1, 12, 32, 5, [64, 28, 51, 78, 32 ,46, 66, 7, 37, 20], 43, 90, ['Mon', 'Tue', 'Wed']]

for inx, ele in enumerate(lst1):
    if type(ele) == list:
        add_ele = lst1.pop(inx)
        lst1.extend(add_ele)
        
print(f"Final list: {lst1}")

Final list: [1, 12, 32, 5, 43, 90, 64, 28, 51, 78, 32, 46, 66, 7, 37, 20, 'Mon', 'Tue', 'Wed']

Q29. Create a list of the first 10 Fibonacci numbers

In [38]:
fib = [0, 1]
i = 0

while i < 8:
    fib.append(fib[-1] + fib[-2])
    i += 1
    
print(f"Fibonacci list: {fib}")

Fibonacci list: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q30. Check if a list is sorted.

In [32]:
lst1 = [90, 43, 32, 12, 5, 1]

if all(lst1[i] >= lst1[i-1] for i in range(1, len(lst1))) or all(lst1[i] <= lst1[i-1] for i in range(1, len(lst1))):
    print("List is sorted.")
else:
    print("List is not sorted.")

List is sorted.

Q31. Rotate a list to the left by `n` positions.

In [35]:
npos = int(input("Enter the number of positions to rotate the list to left by: "))
lst1 = [1, 12, 32, 5, [64, 28, 51, 78, 32 ,46, 66, 7, 37, 20], 43, 90, ['Mon', 'Tue', 'Wed']]

for i in range(npos):
    ele = lst1.pop(0)
    lst1.append(ele)
    
print(f"\nFinal list: {lst1}")

Enter the number of positions to rotate the list to left by:  4

Final list: [[64, 28, 51, 78, 32, 46, 66, 7, 37, 20], 43, 90, ['Mon', 'Tue', 'Wed'], 1, 12, 32, 5]

Q32. Rotate a list to the right by `n` positions.

In [36]:
npos = int(input("Enter the number of positions to rotate the list to right by: "))
lst1 = [1, 12, 32, 5, [64, 28, 51, 78, 32 ,46, 66, 7, 37, 20], 43, 90, ['Mon', 'Tue', 'Wed']]

for i in range(npos):
    ele = lst1.pop()
    lst1.insert(0, ele)
    
print(f"\nFinal list: {lst1}")

Enter the number of positions to rotate the list to right by:  3

Final list: [43, 90, ['Mon', 'Tue', 'Wed'], 1, 12, 32, 5, [64, 28, 51, 78, 32, 46, 66, 7, 37, 20]]

Q33. Create a list of prime numbers up to 50.

In [42]:
res = []

for n in range(1, 50):
    for i in range(1, n//2+1):
        if i != 1 and n%i == 0:
            break
        elif i == n//2:
            res.append(n)
            
print(f"Prime numbers: {res}")

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q34. Split a list into chunks of size `n`.

In [6]:
size = int(input("Please provide the length of sublists: "))
lst = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
chnks_lst = []

for i in range(0, len(lst), size):
    chnks_lst.append(lst[i:i+size])
    
print(f"\nList of chunks: {chnks_lst}")

Please provide the length of sublists:  4

List of chunks: [[2, 3, 5, 7], [11, 13, 17, 19], [23, 29, 31, 37], [41, 43, 47]]

Q35. Find the second largest number in a list.

In [17]:
lst = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

tmp_set = set(lst)
tmp_set.remove(max(lst))
tmp_lst = list(tmp_set)

print(f"Second largest number: {max(tmp_lst)}")

Second largest number: 43

Q36. Replace every element in a list with its square

In [20]:
lst = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

for i in range(len(lst)): 
    lst[i] = lst[i] ** 2
    
print(f"Final list: {lst}")

Final list: [4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

Q37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [22]:
lst = [4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

dct = {value: index for index, value in enumerate(lst)}
print(f"Final dict: {dct}")

Final dict: {4: 0, 9: 1, 25: 2, 49: 3, 121: 4, 169: 5, 289: 6, 361: 7, 529: 8, 841: 9, 961: 10, 1369: 11, 1681: 12, 1849: 13, 2209: 14}

Q38. Shuffle the elements of a list randomly.

In [23]:
import random

In [26]:
lst = [4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]
random.shuffle(lst)

print(f"Shuffled list: {lst}")

Shuffled list: [961, 121, 1369, 49, 361, 9, 169, 1681, 289, 4, 1849, 841, 529, 2209, 25]

Q39. Create a list of the first 10 factorial numbers.

In [28]:
res = []

for i in range(10):
    if i == 0:
        res.append(i)
    else:
        fct = 1
        for j in range(1, i+1):
            fct *= j
        res.append(fct)
        
print(f"Final list: {res}")

Final list: [0, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Q40. Check if two lists have at least one element in common.

In [31]:
lst1 = [4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]
lst2 = [43, 90, 'Mon', 'Tue', 'Wed', 1, 12, 32, 5, 64, 28, 51, 78, 32, 46, 66, 4, 37, 20]

if any(ele in lst2 for ele in lst1):
    print("Atleast one element is common between 2 lists.")
else:
    print("No element is common between 2 lists.")

Atleast one element is common between 2 lists.

Q41. Remove all elements from a list.

In [33]:
lst = [43, 90, 'Mon', 'Tue', 'Wed', 1, 12, 32, 5, 64, 28, 51, 78, 32, 46, 66, 4, 37, 20]

lst.clear()
print(f"Post removing all elements, Final list: {lst}")

Post removing all elements, Final list: []

Q42. Replace negative numbers in a list with 0.

In [37]:
lst = [43, -90, 1, 12, 32, -5, 64, 28, 51, 78, -32, 46, 66, 4, 37, -20]

for i in range(len(lst)):
    if lst[i] < 0:
        lst[i] = 0

print(f"Final list: {lst}")

Final list: [43, 0, 1, 12, 32, 0, 64, 28, 51, 78, 0, 46, 66, 4, 37, 0]

Q43. Convert a string into a list of words.

In [42]:
string = input("Enter a string [multiple words]: ")
wrdlst = string.split()

print(f"\nList of words: {wrdlst}")

Enter a string [multiple words]:  In the waters under the oceans In the fire and In the mountains

List of words: ['In', 'the', 'waters', 'under', 'the', 'oceans', 'In', 'the', 'fire', 'and', 'In', 'the', 'mountains']

Q44. Convert a list of words into a string.

In [43]:
wrdlst = ['In', 'the', 'waters', 'under', 'the', 'oceans', 'In', 'the', 'fire', 'and', 'In', 'the', 'mountains']

print(f"Final string: {' '.join(wrdlst)}")

Final string: In the waters under the oceans In the fire and In the mountains

Q45. Create a list of the first `n` powers of 2.

In [46]:
n = int(input("Enter value of n: "))
res = []

for i in range(n):
    res.append(2 ** i)
    
print(f"Final list: {res}")

Enter value of n:  5

Final list: [1, 2, 4, 8, 16]

Q46. Find the longest string in a list of strings.

In [48]:
list_of_strings = ['apple', 'banana', 'mango']
max_l = 0
max_str = ""

for string in list_of_strings:
    if len(string) > max_l:
        max_l = len(string)
        max_str = string
        
print(f"Longest string: {max_str} with length={max_l}")

Longest string: banana with length=6

Q47. Find the shortest string in a list of strings.

In [51]:
list_of_strings = ['banana', 'mango', 'apple']
min_l = len(list_of_strings[0])
min_str = list_of_strings[0]

for string in list_of_strings:
    if len(string) < min_l:
        min_l = len(string)
        min_str = string
        
print(f"Shortest string: {min_str} with length={min_l}")

Shortest string: mango with length=5

Q48. Create a list of the first `n` triangular numbers.

In [1]:
n = int(input("Enter the value of n: "))

k = j = 1
tri_list = []
for i in range(1, n+1):
    tri_list.append(k)
    j += 1
    k += j
    
print(f"First {n} Triangular numbers: {tri_list}")

Enter the value of n:  5

First 5 Triangular numbers: [1, 3, 6, 10, 15]

Q49. Check if a list contains another list as a subsequence.

In [4]:
lst1 = [1, 10, 2, 20, 3, 30, 4, 40, 5, 50]
lst2 = [4, 5, 50]

i = j = 0
while i < len(lst1):
    if lst1[i] == lst2[j]:
        j += 1
        
    i += 1
    
if j == len(lst2):
    print("list-2 is a subsequence of list-1.")
else:
    print("list-2 is not a subsequence of list-1.")

list-2 is a subsequence of list-1.

Q50. Swap two elements in a list by their indices.

In [5]:
lst = [12, 34, 54, 67, 54, 98, 110]

inx1 = int(input("Enter the indice 1: "))
inx2 = int(input("Enter the indice 2: "))

if inx1 < len(lst) and inx2 < len(lst):
    lst[inx1] = lst[inx1] + lst[inx2]
    lst[inx2] = lst[inx1] - lst[inx2]
    lst[inx1] = lst[inx1] - lst[inx2]
    
print(f"Final list after swapping: {lst}")

Enter the indice 1:  2
Enter the indice 2:  6

Final list after swapping: [12, 34, 110, 67, 54, 98, 54]

**Tuple Based Practice Problem :**

Q1. Create a tuple with integers from 1 to 5.

In [3]:
tpl = tuple(range(1,6))

print(f"Final Tuple: {tpl}")

Final Tuple: (1, 2, 3, 4, 5)

Q2. Access the third element of a tuple.

In [5]:
tpl = tuple(range(1,6))

print(f"3rd element in tuple: {tpl[2]}")

3rd element in tuple: 3

Q3. Find the length of a tuple without using the `len()` function.

In [6]:
tpl = (12, 43, 23, 56, 67, 54, 90)

lngth = 0
for i in tpl:
    lngth += 1
    
print(f"Length of tuple: {lngth}")

Length of tuple: 7

Q4. Count the occurrences of an element in a tuple.

In [12]:
tpl = (12, 43, 23, 12, 56, 67, 54, 90)

ele = int(input("Enter the element for which you wish to find frequency: "))
print(f"Number of occurences of {ele}: {tpl.count(ele)}")

Enter the element for which you wish to find frequency:  12

Number of occurences of 12: 2

Q5. Find the index of the first occurrence of an element in a tuple.

In [18]:
tpl = (12, 43, 23, 12, 56, 67, 54, 90)
ele = int(input("Enter the element for which you wish to find first index: "))

if ele in tpl:
    print(f"{ele} first occurs in tuple at {tpl.index(ele)}")
else:
    print(f"{ele} does not exist within tuple.")

Enter the element for which you wish to find first index:  12

12 first occurs in tuple at 0

Q6. Check if an element exists in a tuple.

In [2]:
tpl = (12, 43, 23, 12, 56, 67, 54, 90)
ele = int(input("Enter the element: "))

if ele in tpl:
    print(f"{ele} exists in tuple.")
else:
    print(f"{ele} does not exist within tuple.")

Enter the element:  43

43 exists in tuple.

Q7. Convert a tuple to a list.

In [4]:
tpl = (12, 43, 23, 12, 56, 67, 54, 90)

print(f"List of given tuple: {list(tpl)}")

List of given tuple: [12, 43, 23, 12, 56, 67, 54, 90]

Q8. Convert a list to a tuple.

In [5]:
lst = [12, 43, 23, 12, 56, 67, 54, 90]

print(f"Tuple of given list: {tuple(lst)}")

Tuple of given list: (12, 43, 23, 12, 56, 67, 54, 90)

Q9. Unpack the elements of a tuple into variables.

In [6]:
tpl = ("Paras Jain", 24, True)
(name, age, isadult) = tpl

print(f"Name: {name}")
print(f"Age: {age}")
print(f"Is adult: {isadult}")

Name: Paras Jain
Age: 24
Is adult: True

Q10. Create a tuple of even numbers from 1 to 10.

In [7]:
tpl = tuple(range(2, 11, 2))

print(f"Tuple of even numbers from 1 to 10: {tpl}")

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

Q11. Create a tuple of odd numbers from 1 to 10.

In [8]:
tpl = tuple(range(1, 10, 2))

print(f"Tuple of odd numbers from 1 to 10: {tpl}")

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

Q12. Concatenate two tuples.

In [10]:
tpl1 = (2, 4, 6, 8, 10)
tpl2 = (1, 3, 5, 7, 90)

tpl = tpl1 + tpl2
print(f"Concatenated tuple: {tpl}")

Concatenated tuple: (2, 4, 6, 8, 10, 1, 3, 5, 7, 90)

Q13. Repeat a tuple three times.

In [13]:
tpl = (2, 4, 6, 8, 10)

print(f"Final tuple: {(tpl,)*3}")

Final tuple: ((2, 4, 6, 8, 10), (2, 4, 6, 8, 10), (2, 4, 6, 8, 10))

Q14. Check if a tuple is empty

In [16]:
tpl = ()

if len(tpl) == 0:
    print("Empty tuple.")
else:
    print("Not a empty tuple.")

Empty tuple.

Q15. Create a nested tuple.

In [18]:
tpl = (12, 24, 43, 32, 66, ('Paras', 24, True), ('a', 'x', 'y'), 17.85)

print(tpl)

(12, 24, 43, 32, 66, ('Paras', 24, True), ('a', 'x', 'y'), 17.85)

Q16. Access the first element of a nested tuple.

In [19]:
tpl = (12, 24, 43, 32, 66, ('Paras', 24, True), ('a', 'x', 'y'), 17.85)

print(f"First element: {tpl[0]}")

First element: 12

Q17. Create a tuple with a single element.

In [23]:
tpl = (100,)

print(f"Tuple: {tpl}")

Tuple: (100,)

Q18. Compare two tuples.

In [8]:
tpl1 = (1, 5, 10)
tpl2 = (1, 5, 11)

print(f"{tpl1} > {tpl2}: {tpl1 > tpl2}")
print(f"{tpl1} < {tpl2}: {tpl1 < tpl2}")
print(f"{tpl1} == {tpl2}: {tpl1 == tpl2}")
print(f"{tpl1} != {tpl2}: {tpl1 != tpl2}")

(1, 5, 10) > (1, 5, 11): False
(1, 5, 10) < (1, 5, 11): True
(1, 5, 10) == (1, 5, 11): False
(1, 5, 10) != (1, 5, 11): True

Q19. Delete a tuple.

In [9]:
tpl1 = (1, 5, 10)

del tpl1
print(tpl1)

NameError: name 'tpl1' is not defined

Q20. Slice a tuple

In [11]:
tpl1 = (1, 5, 10, 15, 12, 90)

print(f"Sliced tuple: {tpl1[:3]}")

Sliced tuple: (1, 5, 10)

Q21. Find the maximum value in a tuple.

In [13]:
tpl1 = (11, 5, 10, 15, 12, 90)

print(f"Max value in tuple: {max(tpl1)}")

Max value in tuple: 90

Q22. Find the minimum value in a tuple.

In [14]:
tpl1 = (11, 5, 10, 15, 12, 90)

print(f"Min value in tuple: {min(tpl1)}")

Min value in tuple: 5

Q23. Convert a string to a tuple of characters.

In [18]:
string = input("Enter a string: ")

print(f"Tuple of chars: {tuple(string)}")

Enter a string:  Data Science

Tuple of chars: ('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

Q24. Convert a tuple of characters to a string.

In [20]:
tpl = ('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

print(f"Final string : {''.join(tpl)}")

Final string : Data Science

Q25. Create a tuple from multiple data types.

In [23]:
tpl = (12, 15.75, True, 'Jain', 'Paras', 19.95, 100, False)

print(f"Tuple: {tpl}")

Tuple: (12, 15.75, True, 'Jain', 'Paras', 19.95, 100, False)

Q26. Check if two tuples are identical.

In [26]:
tpl1 = (1, 2, 5)
tpl2 = (1, 2, 5)

print(f"Identical Tuples: {tpl1==tpl2}")

Identical Tuples: True

Q27. Sort the elements of a tuple.

In [28]:
tpl = (2, 4, 6, 8, 10, 1, 3, 5, 7, 90)

print(f"Sorted tuple: {sorted(tpl)}")

Sorted tuple: [1, 2, 3, 4, 5, 6, 7, 8, 10, 90]

Q28. Convert a tuple of integers to a tuple of strings.

In [31]:
tpl = (2, 4, 6, 8, 10, 1, 3, 5, 7, 90)

str_tpl = tuple(str(x) for x in tpl)
str_tpl

('2', '4', '6', '8', '10', '1', '3', '5', '7', '90')

Q29. Convert a tuple of strings to a tuple of integers

In [33]:
tpl = ('2', '4', '6', '8', '10', '1', '3', '5', '7', '90')

int_tpl = tuple(int(x) for x in tpl)
int_tpl

(2, 4, 6, 8, 10, 1, 3, 5, 7, 90)

Q30. Merge two tuples.

In [35]:
tpl1 = (1, 2, 3)
tpl2 = ('a', 'b', 'c')

print(f"Merged tuple: {tpl1+tpl2}")

Merged tuple: (1, 2, 3, 'a', 'b', 'c')

Q31. Flatten a nested tuple.

In [3]:
tpl = (1, 12, 32, 5, (64, 28, 51, 78, 32 ,46, 66, 7, 37, 20), 43, 90, ('Mon', 'Tue', 'Wed'))
tmp = []

for ele in tpl:
    if type(ele) == tuple:
        tmp.extend(ele)
    else:
        tmp.append(ele)
        
print(f"Flattened Tuple: {tuple(tmp)}")

Flattened Tuple: (1, 12, 32, 5, 64, 28, 51, 78, 32, 46, 66, 7, 37, 20, 43, 90, 'Mon', 'Tue', 'Wed')

Q32. Create a tuple of the first 5 prime numbers.

In [9]:
num = 2
res = []

while len(res) < 5:
    for i in range(1, num//2+1):
        if i != 1 and num%i == 0:
            break
        elif i == num//2:
            res.append(num)
    num+=1
            
print(f"Tuple of the first 5 prime numbers: {tuple(res)}")

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

Q33. Check if a tuple is a palindrome

In [11]:
tpl1 = ('Mon', 'Tue', 'Wed')
tpl2 = ('Wed', 'Tue', 'Mon')

if tpl1 == tpl2[::-1]:
    print("Tuples are palindromes.")
else:
    print("Tuples are not palindromes.")

Tuples are palindromes.

Q34. Create a tuple of squares of numbers from 1 to 5.

In [14]:
tpl = tuple([i**2 for i in range(1, 6)])

print(f"Tuple of squares: {tpl}")

Tuple of squares: (1, 4, 9, 16, 25)

Q35. Filter out all even numbers from a tuple.

In [16]:
tpl = (12, 13, 65, 16, 98, 12, 99, 37, 27, 30, 101)

print(f"Final tuple: {tuple(filter(lambda a: a%2!=0, tpl))}")

Final tuple: (13, 65, 99, 37, 27, 101)

Q36. Multiply all elements in a tuple by 2.

In [21]:
tpl = (13, 65, 99, 37, 27, 101)

res = tuple([ele*2 for ele in tpl])
print(f"Final tuple: {res}")

Final tuple: (26, 130, 198, 74, 54, 202)

Q37. Create a tuple of random numbers.

In [23]:
import random

In [26]:
rnd_tpl = tuple([random.randint(1, 100) for i in range(10)])

print(f"Final Tuple: {rnd_tpl}")

Final Tuple: (24, 48, 88, 18, 8, 20, 32, 72, 81, 90)

Q38. Check if a tuple is sorted.

In [30]:
tpl = (8, 18, 20, 24, 32, 48, 72, 81, 88, 90)

if all(tpl[i]>tpl[i-1] for i in range(1, len(tpl))) or all(tpl[i]<tpl[i-1] for i in range(1, len(tpl))):
    print("Tuple is sorted.")
else:
    print("Tuple is not sorted.")

Tuple is sorted.

Q39. Rotate a tuple to the left by `n` positions.

In [32]:
tpl = (8, 18, 20, 24, 32, 48, 72, 81, 88, 90)
npos = int(input("Enter the number of positions to rotate the tuple to left by: "))
lst1 = list(tpl)

for i in range(npos):
    ele = lst1.pop(0)
    lst1.append(ele)
    
print(f"Final tuple: {tuple(lst1)}")

Enter the number of positions to rotate the tuple to left by:  2

Final tuple: (20, 24, 32, 48, 72, 81, 88, 90, 8, 18)

Q40. Rotate a tuple to the right by `n` positions.

In [33]:
tpl = (8, 18, 20, 24, 32, 48, 72, 81, 88, 90)
npos = int(input("Enter the number of positions to rotate the tuple to right by: "))
lst1 = list(tpl)

for i in range(npos):
    ele = lst1.pop()
    lst1.insert(0, ele)
    
print(f"Final tuple: {tuple(lst1)}")

Enter the number of positions to rotate the tuple to right by:  4

Final tuple: (72, 81, 88, 90, 8, 18, 20, 24, 32, 48)

Q41. Create a tuple of the first 5 Fibonacci numbers.

In [34]:
fib = [0, 1]
i = 0

while i < 3:
    fib.append(fib[-1] + fib[-2])
    i += 1
    
print(f"Fibonacci tuple: {tuple(fib)}")

Fibonacci tuple: (0, 1, 1, 2, 3)

Q42. Create a tuple from user input.

In [35]:
tpl = []
usrinput = input("Enter the first value for tuple: ")

while usrinput != "n":
    tpl.append(usrinput)
    usrinput = input("Enter the next value for tuple [Enter 'n' if you wish to stop]: ")
    
print(f"Final tuple: {tuple(tpl)}")

Enter the first value for tuple:  Paras
Enter the next value for tuple [Enter 'n' if you wish to stop]:  1
Enter the next value for tuple [Enter 'n' if you wish to stop]:  2
Enter the next value for tuple [Enter 'n' if you wish to stop]:  3
Enter the next value for tuple [Enter 'n' if you wish to stop]:  4
Enter the next value for tuple [Enter 'n' if you wish to stop]:  5
Enter the next value for tuple [Enter 'n' if you wish to stop]:  Jain
Enter the next value for tuple [Enter 'n' if you wish to stop]:  Have a nice day!
Enter the next value for tuple [Enter 'n' if you wish to stop]:  n

Final tuple: ('Paras', '1', '2', '3', '4', '5', 'Jain', 'Have a nice day!')

Q43. Swap two elements in a tuple.

In [6]:
tpl = ('Paras', '1', '2', '3', '4', '5', 'Jain', 'Have a nice day!')

ele1 = input("Enter element you wish to swap: ")
ele2 = input("Enter element you wish to swap with: ")

if ele1 in tpl and ele2 in tpl:
    lst = list(tpl)
    el1_inx = lst.index(ele1)
    el2_inx = lst.index(ele2)
    lst[el1_inx] = ele2
    lst[el2_inx] = ele1
    print(f"Final tuple: {tuple(lst)}")
else:
    print("Provided elements do not exist within tuple.")

Enter element you wish to swap:  5
Enter element you wish to swap with:  Jain

Final tuple: ('Paras', '1', '2', '3', '4', 'Jain', '5', 'Have a nice day!')

Q44. Reverse the elements of a tuple.

In [7]:
tpl = ('Paras', '1', '2', '3', '4', '5', 'Jain', 'Have a nice day!')

print(f"Reversed tuple: {tpl[::-1]}")

Reversed tuple: ('Have a nice day!', 'Jain', '5', '4', '3', '2', '1', 'Paras')

Q45. Create a tuple of the first `n` powers of 2.

In [9]:
n = int(input("Enter the value for n: "))
lst = []

for i in range(n):
    lst.append(2**i)
    
print(f"Result tuple: {tuple(lst)}")

Enter the value for n:  5

Result tuple: (1, 2, 4, 8, 16)

Q46. Find the longest string in a tuple of strings.

In [14]:
str_tpl = ("Paras", "Jain", "Zen", "Data", "Science", "Nice")
max_l = 0
max_str = ""

for string in str_tpl:
    if len(string) > max_l:
        max_l = len(string)
        max_str = string
        
print(f"Longest string: `{max_str}` with length=`{max_l}`")

Longest string: `Science` with length=`7`

Q47. Find the shortest string in a tuple of strings.

In [16]:
str_tpl = ("Paras", "Jain", "Data", "Science", "Nice")
min_l = len(str_tpl[0])
min_str = str_tpl[0]

for string in str_tpl:
    if len(string) < min_l:
        min_l = len(string)
        min_str = string
        
print(f"Shortest string: `{min_str}` with length=`{min_l}`")

Shortest string: `Jain` with length=`4`

Q48. Create a tuple of the first `n` triangular numbers.

In [17]:
n = int(input("Enter the value of n: "))

k = j = 1
tri_list = []
for i in range(1, n+1):
    tri_list.append(k)
    j += 1
    k += j
    
print(f"First {n} Triangular numbers: {tuple(tri_list)}")

Enter the value of n:  10

First 10 Triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

Q49. Check if a tuple contains another tuple as a subsequence

In [19]:
tpl1 = (1, 10, 2, 20, 3, 30, 4, 40, 5, 50)
tpl2 = (4, 5, 50)

i = j = 0
while i < len(tpl1):
    if tpl1[i] == tpl2[j]:
        j += 1
        
    i += 1
    
if j == len(tpl2):
    print("Tuple-2 is a subsequence of Tuple-1.")
else:
    print("Tuple-2 is not a subsequence of Tuple-1.")

Tuple-2 is a subsequence of Tuple-1.

Q50. Create a tuple of alternating 1s and 0s of length `n`.

In [22]:
num = int(input("Enter value for n: "))
tpl_lst = []

for i in range(num):
    if i%2 == 0:
        tpl_lst.append(0)
    else:
        tpl_lst.append(1)
        
print(f"Final tuple: {tuple(tpl_lst)}")

Enter value for n:  7

Final tuple: (0, 1, 0, 1, 0, 1, 0)

**Set Based Practice Problem :**

Q1. Create a set with integers from 1 to 5

In [25]:
sets = {1, 2, 3, 4, 5}
sets

{1, 2, 3, 4, 5}

Q2. Add an element to a set.

In [26]:
sets = {1, 2, 3, 4, 5}

sets.add(6)
print(sets)

{1, 2, 3, 4, 5, 6}

Q3. Remove an element from a set.

In [27]:
sets = {1, 2, 3, 4, 5, 6}

sets.remove(6)
print(sets)

{1, 2, 3, 4, 5}

Q4. Check if an element exists in a set.

In [29]:
sets = {1, 2, 3, 4, 5, 6}
ele = 5

if ele in sets:
    print(f"'{ele}' exists inside '{sets}'")
else:
    print(f"'{ele}' does not exist inside '{sets}'")

'5' exists inside '{1, 2, 3, 4, 5, 6}'

Q5. Find the length of a set without using the `len()` function.

In [31]:
sets = {1, 2, 3, 4, 5, 6, 'Paras'}
lnth = 0

for ele in sets:
    lnth += 1
    
print(f"Length of `{sets}` is `{lnth}`")

Length of `{1, 2, 3, 4, 5, 6, 'Paras'}` is `7`

Q6. Clear all elements from a set

In [33]:
sets = {1, 2, 3, 4, 5, 6, 'Paras'}

sets.clear()
print(f"Number of elements in set : {len(sets)}")

Number of elements in set : 0

Q7. Create a set of even numbers from 1 to 10.

In [36]:
print(set(range(2, 11, 2)))

{2, 4, 6, 8, 10}

Q8. Create a set of odd numbers from 1 to 10.

In [37]:
print(set(range(1, 10, 2)))

{1, 3, 5, 7, 9}

Q9. Find the union of two sets.

In [43]:
set1 = {3, 5, 7, 9, 11}
set2 = {2, 4, 6, 8, 10}

print(f"Union of 2 sets: {set1.union(set2)}")

Union of 2 sets: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Q10. Find the intersection of two sets.

In [45]:
set1 = {3, 4, 7, 8, 11}
set2 = {2, 4, 6, 8, 10}

print(f"Intersection of 2 sets: {set1.intersection(set2)}")

Intersection of 2 sets: {8, 4}

Q11. Find the difference between two sets.

In [46]:
set1 = {3, 4, 7, 8, 11}
set2 = {2, 4, 6, 8, 10}

print(f"Difference in 2 sets: {set1-set2}")

Difference in 2 sets: {11, 3, 7}

Q12. Check if a set is a subset of another set.

In [50]:
set1 = {3, 4, 7, 8, 11}
set2 = {4, 7}

print(f"Is set-2 subset of set-1: {set2.issubset(set1)}")

Is set2 subset of set1: True

Q13. Check if a set is a superset of another set.

In [54]:
set1 = {3, 4, 7, 8, 11}
set2 = {4, 7}

print(f"Is set-1 superset of set-2: {set1.issuperset(set2)}")

Is set-1 superset of set-2: True

Q14. Create a set from a list.

In [57]:
lst = [3, 4, 7, 8, 11, 7, 8, 11, 19, 20]

print(f"Set from list: {set(lst)}")

Set from list: {3, 4, 7, 8, 11, 19, 20}

Q15. Convert a set to a list.

In [56]:
sets = {3, 4, 7, 8, 11}

print(f"List from set: {list(sets)}")

List from set: [3, 4, 7, 8, 11]

Q16. Remove a random element from a set.

In [2]:
import random

In [9]:
sets = set(range(1, 15))
print(f"Original set: {sets}")

ele = random.randint(1, 15)
sets.remove(ele)
print(f"\nElement removed = {ele}")
print(f"Final set: {sets}")

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Element removed = 4
Final set: {1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Q17. Pop an element from a set.

In [21]:
sets = set(range(1, 15))
print(f"Original set: {sets}")

ele = sets.pop()
print(f"\nElement popped = {ele}")
print(f"Final set: {sets}")

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Element popped = 1
Final set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Q18. Check if two sets have no elements in common.

In [24]:
set1 = {3, 4, 7, 8, 11, 7, 8, 11, 19, 20}
set2 = {2, 5, 6, 9, 10}

if len(set1.intersection(set2)) == 0:
    print("No elements in common.")
else:
    print("Atleast 1 element is common.")

No elements in common.

Q19. Find the symmetric difference between two sets.

In [27]:
set1 = {3, 4, 7, 8, 11, 7, 8, 11, 19, 20}
set2 = {2, 4, 7, 8, 10}

print(f"Symmetric difference: {set1.symmetric_difference(set2)}")

Symmetric difference: {2, 3, 19, 20, 10, 11}

Q20. Update a set with elements from another set.

In [31]:
set1 = {3, 4, 7, 8, 11, 7, 8, 11, 19, 20}
set2 = {2, 4, 7, 8, 10}

set1.update(set2)
print(f"Updated set: {set1}")

Updated set: {2, 3, 4, 7, 8, 10, 11, 19, 20}

Q21. Create a set of the first 5 prime numbers.

In [34]:
num = 2
sets = set()

while len(sets) < 5:
    for i in range(1, num//2+1):
        if i != 1 and num%i == 0:
            break
        elif i == num//2:
            sets.add(num)
    num+=1
            
print(f"Set of the first 5 prime numbers: {sets}")

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

Q22. Check if two sets are identical.

In [36]:
set1 = {2, 4, 7, 8, 10}
set2 = {2, 4, 7, 8, 10}

if set1 == set2:
    print("Sets are identical.")
else:
    print("Sets are not identical.")

Sets are identical.

Q23. Create a frozen set.

In [40]:
sets = {2, 4, 7, 8, 9}
fset = frozenset(sets)

print(f"Frozen set: {fset}")

Frozen set: frozenset({2, 4, 7, 8, 9})

In [41]:
fset[0] = 1

TypeError: 'frozenset' object does not support item assignment

This shows a `frozenset` has been successfully created.

Q24. Check if a set is disjoint with another set.

In [53]:
set1 = {2, 4, 7, 8, 9}
set2 = {1, 3, 6, 5, 10}

print(f"Is sets disjoint: {set1.isdisjoint(set2)}")

Is sets disjoint: True

Q25. Create a set of squares of numbers from 1 to 5.

In [44]:
sets = set([i**2 for i in range(1, 6)])

print(f"Set of squares: {sets}")

Set of squares: {1, 4, 9, 16, 25}

Q26. Filter out all even numbers from a set.

In [46]:
sets = {12, 13, 65, 16, 98, 12, 99, 37, 27, 30, 101}

print(f"Filtered set: {set(filter(lambda a: a%2!=0, sets))}")

Filtered set: {65, 99, 37, 101, 13, 27}

Q27. Multiply all elements in a set by 2.

In [48]:
sets = {13, 65, 99, 37, 27, 101}

res = set([ele*2 for ele in sets])
print(f"Final set: {res}")

Final set: {130, 198, 202, 74, 54, 26}

Q28. Create a set of random numbers.

In [49]:
import random

In [52]:
rnd_set = set([random.randint(1, 100) for i in range(10)])

print(f"Final set: {rnd_set}")

Final set: {33, 99, 11, 43, 78, 85, 86, 24, 91, 93}

Q29. Check if a set is empty.

In [56]:
sets = set([1, 12, 133, 43, 4565])

if len(sets) == 0:
    print("Set is empty.")
else:
    print("Set is not empty.")

Set is not empty.

Q30. Create a nested set (hint: use frozenset).

In [3]:
set1 = frozenset({10, 12, 15, 19, 20, 14})

nst_set = {1, 10, 20, 30, 40, set1}
print(f"Nested set: {nst_set}")

Nested set: {1, 40, 10, frozenset({19, 20, 10, 12, 14, 15}), 20, 30}

Q31. Remove an element from a set using the discard method.

In [7]:
sets = {10, 12, 15, 19, 20, 14}
print(f"Original set: {sets}")

sets.discard(19)
print(f"Final set: {sets}")

Original set: {19, 20, 10, 12, 14, 15}
Final set: {20, 10, 12, 14, 15}

Q32. Compare two sets.

In [9]:
set1 = {1, 5, 10}
set2 = {1, 5, 11}

print(f"{set1}  > {set2}: {set1 > set2}")
print(f"{set1}  < {set2}: {set1 < set2}")
print(f"{set1} == {set2}: {set1 == set2}")
print(f"{set1} != {set2}: {set1 != set2}")

{1, 10, 5}  > {1, 11, 5}: False
{1, 10, 5}  < {1, 11, 5}: False
{1, 10, 5} == {1, 11, 5}: False
{1, 10, 5} != {1, 11, 5}: True

Q33. Create a set from a string.

In [10]:
string = "Have a nice day !"

print(f"Set: {set(string)}")

Set: {'i', 'c', 'n', 'y', '!', 'd', ' ', 'a', 'v', 'H', 'e'}

Q34. Convert a set of strings to a set of integers.

In [12]:
sets = {'1', '2', '3', '4', '5', '6', '7'}

int_set = set(map(lambda a: int(a), sets))
print(f"Set of integers: {int_set}")

Set of integers: {1, 2, 3, 4, 5, 6, 7}

Q35. Convert a set of integers to a set of strings.

In [13]:
sets = {1, 2, 3, 4, 5, 6, 7}

str_set = set(map(lambda a: str(a), sets))
print(f"Set of strings: {str_set}")

Set of strings: {'3', '5', '2', '4', '6', '7', '1'}

Q36. Create a set from a tuple.

In [16]:
tpl = (1, 2, 1, 3, 4, 5, 6, 7, 3, 8, 1, 3, 9, 10)

set_tpl = set(tpl)
print(f"Set from tuple: {set_tpl}")

Set from tuple: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q37. Convert a set to a tuple.

In [17]:
sets = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(f"Tuple from set: {tuple(sets)}")

Tuple from set: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q38. Find the maximum value in a set

In [18]:
inp_sets = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(f"Max value in set: {max(inp_sets)}")

Max value in set: 10

Q39. Find the minimum value in a set.

In [19]:
inp_sets = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(f"Min value in set: {min(inp_sets)}")

Min value in set: 1

Q40. Create a set from user input.

In [22]:
sets = set()
usrinput = input("Enter the first value for set: ")

while usrinput != "n":
    sets.add(usrinput)
    usrinput = input("Enter the next value for set [Enter 'n' if you wish to stop]: ")
    
print(f"Final set: {sets}")

Enter the first value for set:  1
Enter the next value for set [Enter 'n' if you wish to stop]:  2
Enter the next value for set [Enter 'n' if you wish to stop]:  3
Enter the next value for set [Enter 'n' if you wish to stop]:  4
Enter the next value for set [Enter 'n' if you wish to stop]:  1
Enter the next value for set [Enter 'n' if you wish to stop]:  2
Enter the next value for set [Enter 'n' if you wish to stop]:  3
Enter the next value for set [Enter 'n' if you wish to stop]:  4
Enter the next value for set [Enter 'n' if you wish to stop]:  1
Enter the next value for set [Enter 'n' if you wish to stop]:  2
Enter the next value for set [Enter 'n' if you wish to stop]:  3
Enter the next value for set [Enter 'n' if you wish to stop]:  4
Enter the next value for set [Enter 'n' if you wish to stop]:  n

Final set: {'2', '4', '3', '1'}

Q41. Check if the intersection of two sets is empty.

In [24]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {11, 12, 13, 14, 15, 16, 20, 0}

if len(set1.intersection(set2)) == 0:
    print("Intersection of 2 sets is empty.")
else:
    print("Intersection of 2 sets is not empty.")

Intersection of 2 sets is empty.

Q42. Create a set of the first 5 Fibonacci numbers.

In [26]:
fib = [0, 1]
i = 0

while i < 3:
    fib.append(fib[-1] + fib[-2])
    i += 1
    
print(f"Fibonacci set: {set(fib)}")

Fibonacci set: {0, 1, 2, 3}

Q43. Remove duplicates from a list using sets.

In [27]:
lst = [1, 1, 1, 1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 6, 6, 6, 8, 9, 9, 10]

print(f"Unique nums in list: {set(lst)}")

Unique nums in list: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q44. Check if two sets have the same elements, regardless of their count.

In [31]:
set1 = {1, 5, 10, 11, 20, 20, 20, 20} 
set2 = {11, 10, 5, 20, 1, 1, 1, 1, 1, 1}

if set1 == set2:
    print("Both sets have same elements.")
else:
    print("Both sets dont have same elements.")

Both sets have same elements.

Q45. Create a set of the first `n` powers of 2

In [33]:
n = int(input("Enter the value for n: "))
sets = set()

for i in range(n):
    sets.add(2**i)
    
print(f"Result set: {sets}")

Enter the value for n:  10

Result set: {32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

Q46. Find the common elements between a set and a list.

In [46]:
lst = [1, 10, 20, 30, 40, 50, 10, 25, 95]
sts = {11, 22, 34, 10, 90, 87, 30, 45, 8}

print(f"Common elements: {set(lst).intersection(sts)}")

Common elements: {10, 30}

Q47. Create a set of the first `n` triangular numbers.

In [36]:
n = int(input("Enter the value of n: "))

k = j = 1
tri_set = set()
for i in range(1, n+1):
    tri_set.add(k)
    j += 1
    k += j
    
print(f"First {n} Triangular numbers: {tri_set}")

Enter the value of n:  10

First 10 Triangular numbers: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

Q48. Check if a set contains another set as a subset.

In [37]:
set1 = {3, 4, 7, 8, 11}
set2 = {4, 7}

print(f"Does set1 contains set2 as a subset: {set1.issuperset(set2)}")

Does set1 contains set2 as a subset: True

Q49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
num = int(input("Enter value for n: "))
sets = set()

for i in range(num):
    if i%2 == 0:
        sets.add(0)
    else:
        sets.add(1)
        
print(f"Final set: {sets}")

Enter value for n:  100

Final set: {0, 1}

Q50. Merge multiple sets into one.

In [ ]:
set1 = {0, 10, 25, 30, 40, 50}
set2 = {1, 15, 25, 30, 45, 50}
set3 = {2, 18, 28, 38, 45, 50}

print(f"Merged set: {set.union(set1, set2, set3)}")

Merged set: {0, 1, 2, 38, 40, 10, 45, 15, 50, 18, 25, 28, 30}